<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="{{url_for('static',filename="https://fonts.googleapis.com")}}">
  <link rel="stylesheet" href="{{url_for('static',filename="bootstrap.min.css")}}">
  <link rel="stylesheet" href="{{url_for('static',filename="all.min.css")}}">
  <link rel="stylesheet" href="{{url_for('static',filename="allMovies.css")}}">
  <link rel="preconnect" href="{{url_for('static',filename="https://fonts.gstatic.com")}}" crossorigin="">
  <link href="{{url_for('static',filename="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap")}}" rel="stylesheet">
  <link rel="preconnect" href="{{url_for('static',filename="https://fonts.googleapis.com")}}">
  <link rel="preconnect" href="{{url_for('static',filename="https://fonts.gstatic.com")}}" crossorigin>
  <link href="{{url_for('static',filename="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300&display=swap")}}" rel="stylesheet">
  <title>Series Gallary, mare of easttown</title>
</head>

    
    <body>
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
              <a class="navbar-brand titlefont" href="home.html">
    Agallary
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="main">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('index')}}>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href={{url_for('movies')}}>Movies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href={{url_for('series')}}>Series</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href={{url_for('anime')}}>Anime</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-2 p-lg-3" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('logout')}}>Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('profile')}}>Profile</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('index')}}>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('register')}}>Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active p-2 p-lg-3" aria-current="page" href={{url_for('login')}}>Log In</a>
            </li>
            {% endif %}
                </ul>
                <div class="search ps-3 pe-3 d-none d-lg-block whitecolSearch">
                    <i class="fa-solid fa-magnifying-glass "></i>
                </div>
              </div>
            </div>
        </nav>

        <div class="card text-center justify-content-center align-items-center">
            <div class="container ">
                <div class="row p-4">
                    <div class="col-md-6 col-lg-4 text-center justify-content-center align-items-center">
                        <img class="img-fluid imgSize customImg" src="{{url_for('static',filename=)}}""images/series/MOET/MOET poster.jpg" alt="">                  
                    </div>
                    <div class="col-md-6 col-lg-8 customCard">
                        <h2><b>Mare Of EastTown</b></h2>
                        <h5 style="color: var(--green-color);"><b>2021</b></h5>
                        <br>
                        <p class="bolded">
                            A detective in a small Pennsylvania town investigates a local murder while trying to keep her life from falling apart.
                        </p>
                        <br>
                        <div>
                        <button type="button" class="btn btn-outline-info">Drama</button>
                        <button type="button" class="btn btn-outline-info">Crime</button>
                        <button type="button" class="btn btn-outline-info">Mystery</button>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        <a href="https://youtu.be/Y3ot4GRgrLY" target="_blank" >
                            <button type="button" class="btn btn-outline-info ">
                                <i class="fa-brands fa-youtube"></i> Watch trailer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="temp text-center bg-black text-white">
            <div class="container pb-5 pt-5">
              <h2 class="green pb-5"> <b>Series Gallary</b></h2>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDdkZTYyZjgtNWIxMC00M2YyLTg2MzQtMTlhYjJlMjg0NzZjXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDhlZmQxNGItZTVlYi00YTIxLWE3MDAtNWZkNTUwMDNkMjE1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDIxZmViZmItMzlkYS00ZjUyLThhYzctYzJkZTUzM2Y3NWZmXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDk0NjE4YTctZjk5Ny00OTM3LWI1YzgtNDVlMzkwMmQ1ZjM5XkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDNlNmU0YzUtNmNhMy00OTAxLTlkZmUtYjY1NzhmYTZkNjRkXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDU0YzgxMjctOTAwOS00MDFmLTg0OGUtNGU3NmUyMDRkYzViXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMDZiYWFjMDItZDRkYS00MTlmLTljMjktN2MyMjFkM2IxNDA0XkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMGQwZDAxMWUtOWJlMS00YmNjLWIwM2QtNmI5ZjY4ZDBmMzMxXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMGZhOGE2MDUtNTczZS00YzM2LTkzYjctMzE1YWJjZDA3MWQ1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMjExNjFhZTUtNjc4Ni00M2U2LWFhNWMtM2Y4NmQzZDljY2EwXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMThhODJmNTQtYjZjZS00NmZkLTg3MjYtZTE1Mzk5NmM1YWM0XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMTI5OTI1MWYtNTY3Mi00OTA5LTlkYTctY2E5Mzk3NGQ5Y2FkXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMTlmMDQ5ZDMtYTdkYS00MTFiLWJhNGUtZjI3ZmNiYzAxMTgwXkEyXkFqcGdeQXVyMTM2MTAzMg@@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMTMxZDJiMTEtZDI5ZC00OTU1LTgzMzAtZGZkN2M4NTA3NGEwXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMWM4MGMwY2QtZTY4ZS00Y2VlLTk4OGEtZTQxYWE4ZWE3ZjhjXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMzQ3NDAzYWYtZGQwMi00Mzk4LWI0NmItZjNmYjkwMjI5MjI4XkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BMzZlNzE2YzMtODAzZi00MjQ4LThiNWUtMTUzMzM3MDBkNWQ1XkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BN2QwYWE4MTYtYzQ5Zi00Yjk2LTlkN2QtYTNjYWQ3Njk1Y2NmXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BYTU4YzA4NzctZGY2NC00ZjViLWE1ZWUtYzExMGNkNWMxYzkyXkEyXkFqcGdeQXVyODc0OTEyNDU@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BOWQ3ZDc2NTEtODkwNS00OTY4LWEzYmEtODhiMmE2OTcyYjUzXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BOTM0MjJmNDUtZWMzYS00MzYzLWE0ZTgtYjc3ZmIyOGY5YWU3XkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BODc0NWM5ZDktNWNlMS00YjAyLTk3NzUtYzI2Y2RmYmY3YmFmXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BNWQ0YTQ2YzUtYWZmMC00ODEzLWJmNmEtZTZhZTExZGZjNjkyXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BNTQwYmM0NGUtOTk1Ni00ZTkzLWE2NTktNjA4MDM4NzY1ODQyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BNTBjYjZiNGItM2JiZS00MDRhLWJlZTItN2U3ZjgwNTlmZDJhXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BNmMwYjcyZjQtZGU2ZC00M2VkLTkxZTktOGMyNzg0NWJjZWEyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="box">
                    <img class="img-fluid imgSize2" src="{{url_for('static',filename="images/series/MOET/MV5BNDQwODQ2OGUtMjg2Zi00OGUzLTlmYTMtY2JjNTJlMWVmNzk4XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_FMjpg_UX1024_.jpg")}}" alt="">
                  </div>
                </div>
                
                
                
              </div>
            </div>
          </div>

          <div class="footer pt-5 pb-5 text-black-50 text-center text-md-start">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="info mb-5">
                    <a class="navbar-brand titlefont green" style="font-size: 50px;" href="#">
                      Agallary
                    </a>
                    <p class="mb-5 bolded">
                      This website is just a template for ITI as a project for IWT course.  
                    </p>
                    <div class="copyright text-dark bolded">
                      Created By <span class="green">Mostafa Fawzy</span><br>
                      Created By <span class="green">Mohamed Samy</span><br>
                      Created By <span class="green">Adham Magdy</span>
                      <div>© 2023 - <span>IWT course</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-2">
                  <div class="links">
                    <h5 class="bolded" style="color: var(--green-color);">Links</h5>
                    <ul class="list-unstyled lh-lg bolded">
                      <li><a href={{url_for("index")}} class="footlink">Home</a></li>
                      <li><a href="#" class="footlink">Our Services</a></li>
                      <li><a href={{url_for("movies")}} class="footlink">Movies</a></li>
                      <li><a href={{url_for("series")}} class="footlink">Series</a></li>
                      <li><a href={{url_for("anime")}} class="footlink">Anime</a></li>
                      <li><a href="#" class="footlink">Terms and Condition</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-lg-2">
                  <div class="links">
                    <h5 class="bolded" style="color: var(--green-color);">About Us</h5>
                    <ul class="list-unstyled lh-lg bolded">
                      <li><a href="#" class="footlink">Sign In</a></li>
                      <li><a href="#" class="footlink">Register</a></li>
                      <li><a href="#" class="footlink">About Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="contact">
                    <h5 class="bolded" style="color: var(--green-color);">Contact Us</h5>
                    <p class="lh-lg mt-3 mb-5 bolded">Get in touch with us via mail phone.We are waiting for your call or message</p>
                    <a class="btn rounded-pill main-btn w-100 bolded" style="background-color: var(--green-color);" target="_blank" href="https://mail.google.com/">mostafaf200380@gmail.com</a>
                    <a class="btn rounded-pill main-btn w-100 bolded" style="background-color: var(--green-color);" target="_blank" href="https://mail.google.com/">magdyadham70@gmail.com</a>
                    <a class="btn rounded-pill main-btn w-100 bolded" style="background-color: var(--green-color);" target="_blank" href="https://mail.google.com/">mohameds200@gmail.com</a>                    <ul class="d-flex mt-5 list-unstyled gap-4 green titlefont">
                      <li><a href="https://www.facebook.com/" target="_blank" class="footlink">                    <i class="fa-brands fa-facebook"></i>                  </a></li>
                      <li><a href="https://www.twitter.com/" target="_blank" class="footlink">                    <i class="fa-brands fa-twitter"></i>                  </a></li>
                      <li><a href="https://www.linkedin.com/" target="_blank" class="footlink">                    <i class="fa-brands fa-linkedin"></i>                  </a></li>
                      <li><a href="https://www.youtube.com/" target="_blank" class="footlink">                    <i class="fa-brands fa-youtube"></i>                  </a></li>
                    </ul>
                  </div>
                </div>
              </div> 
            </div>
          </div>

    </body>
</html>